$white: #ffffff;
$black: #555555;
$gray: #8c8c8c;
$light-gray: #f1eee9;
$text-brown: #c7b29a;
$light-brown: #fbfaf8;
$brown: #998675;
$page-width: 1140px;
$blue: #00bff3;
$font-mont: 'Montserrat',
sans-serif;
$font-rail: 'Raleway',
sans-serif;
$roboto: 'Roboto',
sans-serif;
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@mixin flex($direction,
$justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    flex-wrap: wrap;
}


.container {
    width: $page-width;
    font-family: $font-rail;
    margin: auto;
}

a {
    text-decoration: none;
}

p,
.project_sections_list,
.for_mobile_adv {
    font-size: 9px;
    line-height: 16px;
    font-family: $font-mont;
    font-weight: 300;
}

h3 {
    font-family: $font-rail;
    font-size: 18px;
    font-weight: 600;
}

header {
    width: $page-width;
    color: $white;
    background-image: url(../img/mountain.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    display: inline-block;
    transition: all 2s;
}

span.logo {
    width: 100px;
    padding-top: 10px;
}

img.logo:hover {
    transform: rotateX(360deg);
}

nav.menu {
    @include flex(row,
    space-between);
    width: 800px;
    margin: auto;
    padding-top: 20px;
}

ul.menu {
    list-style-type: none;
    font-family: $font-mont;
    font-size: 8px;
    width: 440px;
}

.menu_li {
    display: inline-block;
}

a.header_menu:link {
    padding: 5px 10px;
    color: $white;
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    transition: all 0.8s;
}

a.header_menu:visited {
    color: $white;
}

a.header_menu:hover {
    color: $text-brown;
}

.get_started {
    text-align: center;
    width: 350px;
    display: block;
    margin: 160px auto;
}

.header_slogan {
    font-size: 22px;
    margin: 8px;
    font-weight: 500;
}

.header_name {
    font-size: 31px;
    margin: 0;
    font-weight: 700;
}

.header_intro {
    padding: 0 10px;
}

.dots {
    @include flex(row,
    space-between);
    width: 75px;
    height: 10px;
    margin: auto;
    padding-bottom: 20px;
}

.dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: auto;
    border-radius: 6px;
    border: 2px solid black;
    background-color: white;
    content: " ";
    transition: all 0.8s;
}

.dot:hover {
    background-color: transparent;
    border: 2px solid #d3c1ad;
}


/* about */

.info {
    @include flex(row,
    space-between);
    width: 740px;
    margin: auto;
    padding: 35px 20px;
}

.info_about {
    text-align: center;
    width: 180px;
    padding-top: 10px;
    h4 {
        color: $black;
        font-size: 14px;
        font-weight: 600;
        margin: 15px auto 8px;
    }
    img {
        flood-color: green;
    }
}

.info_about:hover {
    h4 {
        color: $text-brown;
    }
    .about:after {
        border-bottom: 2px solid $text-brown;
    }
}

.about {
    color: $gray;
    font-family: $font-mont;
    line-height: 15px;
}

.about:after {
    display: block;
    width: 40px;
    padding-top: 15px;
    border-bottom: 2px solid $light-gray;
    content: "";
    margin: auto;
}

a.button,
.load_more,
.start {
    display: block;
    margin: 15px auto;
    text-transform: uppercase;
    font-size: 10px;
    width: 100px;
    height: 30px;
    color: $white;
    background-color: $brown;
    border: none;
    border-bottom: 3px solid #615855;
    border-radius: 3px;
    outline: none;
}

a.button:hover,
.load_more:hover,
.start:hover {
    background-color: $text-brown;
    border-color: $brown;
}

a.button:active,
.load_more:active,
.start:active {
    height: 27px;
    margin-top: 18px;
    border: none;
}


/* info */

.what_is {
    background-color: $light-brown;
    text-align: center;
    padding: 20px;
    min-height: 400px;
    margin: 0;
    position: relative;
}

.purchase_now {
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    padding: 20px 200px;
    color: $white;
    width: 740px;
    h3 {
        font-weight: 400;
        color: $white;
    }
    p {
        color: #615855;
        font-weight: 300;
    }
    h3,
    p {
        width: 460px;
        display: block;
    }
}

.color_text {
    color: $text-brown;
}

.button {
    display: block;
    float: right;
    text-align: center;
    line-height: 30px;
}

.central_browser {
    position: absolute;
    display: block;
    bottom: 0;
    left: 380px;
    z-index: 2;
}

.central_browser:hover {
    width: 440px;
    left: 350px;
}

.right_browser,
.left_browser {
    position: absolute;
    bottom: 0;
}

.right_browser {
    right: 200px;
}

.right_browser:hover {
    right: 170px;
    width: 440px;
    z-index: 3;
}

.left_browser {
    left: 200px;
}

.left_browser:hover {
    left: 170px;
    width: 440px;
    z-index: 3;
}


/* projects */

.projects {
    text-align: center;
    h3 {
        color: $black;
    }
}

.projects>p {
    color: $gray;
    font-weight: 300;
}

.project_sections_list {
    list-style-type: none;
    li {
        display: inline-block;
        margin: 20px 5px;
    }
}

.project_sections {
    padding: 5px 10px;
    border: 1px solid #ebebeb;
    color: $gray;
    border-radius: 3px;
    transition: all 0.8s;
}

.project_sections:hover {
    background-color: $brown;
    color: $white;
    border-color: transparent;
}

.project_list {
    @include flex(row,
    space-between);
    width: 700px;
    margin: auto;
}

.project {
    display: block;
    position: relative;
    width: 220px;
    text-align: left;
    margin-bottom: 15px;
    text-transform: capitalize;
    background-color: $light-brown;
    transition: all 0.8s;
    img {
        width: 100%;
    }
}

.project:hover {
    background-color: #362f2d;
    img {
        filter: brightness(70%);
    }
    .project_title {
        color: $white;
    }
    .project_p {
        color: $text-brown;
    }
    .chain,
    .lupa {
        display: block;
    }
}

.chain,
.lupa {
    position: absolute;
    display: none;
    z-index: 4;
    width: 14px;
    height: 14px;
    top: 60px;
}

.chain {
    left: -14px;
}

.lupa {
    right: -14px;
}

.project_title {
    font-family: $font-rail;
    color: $text-brown;
    font-weight: 500;
    font-size: 12px;
    margin: 10px 15px 5px 15px;
}

.project_p {
    margin-top: 0;
    padding: 0px 15px 5px 15px;
    line-height: 12px;
    color: #d1d1d1;
    font-weight: 300;
}


/* presentation */

.presentation {
    display: block;
    padding: 130px 200px;
    text-align: center;
    background-image: url(../img/photo.png);
    background-position: center;
    background-size: cover;
    color: $white;
}

button.play {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    img {
        height: 40px;
        padding: 6px 2px 2px 2px;
    }
}

.presentation_title {
    font-weight: 500;
    margin-bottom: 12px;
}

.presentation_p {
    width: 350px;
    margin: auto;
}


/* for mobile */

.for_mobile {
    display: block;
    text-align: left;
    background-color: $light-brown;
    padding: 50px 250px 0 250px;
    h3 {
        margin: 0;
        padding: 60px 0 20px 10px;
        font-family: $font-rail;
        color: $black;
    }
    p {
        color: $gray;
    }
}

.for_mobile:after {
    display: block;
    content: " ";
    clear: both;
}

.phone_hand {
    float: left;
    display: block;
    width: 250px;
}

.for_mobile_adv {
    list-style-image: url(../svg/01.svg);
    list-style-position: inside;
    color: $gray;
}


/* statistic */

.statistics {
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    @include flex(row,
    space-between);
    width: 600px;
    padding: 20px 270px;
    margin: auto;
}

.paragr_width,
.project_sections_list,
.for_mobile_adv {
    width: 550px;
    margin: auto;
}

.stat {
    @include flex(column,
    space-between);
    color: $white;
    text-transform: uppercase;
    text-align: center;
    margin: 15px auto;
    img {
        height: 28px;
        margin: auto;
    }
    span {
        font-size: 30px;
        font-weight: 200;
        font-family: $font-mont;
        padding: 10px 0 0;
    }
    p {
        color: #c7b299;
    }
}

.stat:after {
    display: block;
    width: 20px;
    padding-top: 5px;
    border-bottom: 1px solid $white;
    content: "";
    margin: auto;
}

/* Posts */

.posts {
    padding: 30px 200px;
    text-align: center;
    h3 {
        margin-bottom: 10px;
    }
}

.recent {
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
    color: $gray;
}

.row_posts {
    @include flex(row,
    space-between);
}

.post {
    width: 220px;
    position: relative;
    border: 1px solid #f8f8f8;
    transition: background 0.6s;
    a {
        display: block;
        color: $text-brown;
        text-decoration: none;
        font-size: 9px;
        margin: 0 10px 15px;
        text-align: left;
    }
    h4 {
        font-weight: 500;
        color: $black;
        font-size: 13px;
        margin: 10px 10px;
        text-align: left;
        transition: color 0.6s;
    }
    p {
        margin: 0 10px 10px;
        text-align: left;
        color: $gray;
        transition: color 0.6s;
    }
    a:hover {
        text-decoration: underline;
    }
}

.post_pic {
    width: 100%;
}

.post:hover {
    background-color: #362f2d;
    .date {
        background-color: $text-brown;
    }
    .month {
        background-color: #a48d72;
    }
    h4 {
        color: $text-brown;
    }
    p {
        color: $white;
    }
}

.date,
.month {
    position: absolute;
    z-index: 2;
    color: $white;
    transition: background 0.6s;
}

.date {
    background-color: #363636;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 20px;
    top: 10px;
    left: 10px;
    font-family: $font-mont;
    font-size: 15px;
    padding: 5px;
}

.month {
    background-color: #252525;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 20px;
    top: 35px;
    left: 10px;
    font-family: $roboto;
    font-size: 9px;
    padding: 5px;
}

.l_r i {
    margin: 25px 5px 20px;
    width: 10px;
    height: 10px;
    font-size: 9px;
    border-radius: 50%;
    color: #d1d1d1;
    border: 1px solid #d1d1d1;
    transition: all 0.6s;
}

.l_r i:hover {
    color: $text-brown;
    border: 1px solid $text-brown;
}


/* Clients */

.clients {
    @include flex(rox,
    space-between);
    background-image: url(../img/mountains2.png);
    background-size: cover;
    padding: 100px 200px;
}

.client_logo {
    width: 110px;
    height: 90px;
}


/* Contacts */

.contacts {
    background-color: #191919;
    padding: 30px 200px;
    @include flex(row,
    space-between);
}

.widget_box {
    width: 180px;
}
.us, .recent_posts,
.tweets {
    padding-right: 10px;
    width: 175px;
}
.us_header,
.contacts_title {
    color: $white;
    font-size: 16px;
    margin-bottom: 10px;
}

.contacts_title {
    font-weight: 700;
    margin-top: 30px;
}
.recent_posts .contacts_title {
    margin-bottom: 0;
}
.us_header {
    font-weight: 400;
    font-size: 22px;
}

.more_about_us {
    text-decoration: none;
    color: #545454;
    font-size: 9px;
    transition: color 0.8s;
}

.more_about_us:hover {
    color: #d1d1d1;
}

.recent_posts,
.tweets {
    @include flex(column,
    flex-start);
}

.widgets {
    @include flex(row,
    space-between);
    position: relative;
}

.widget {
    width: 80px;
    margin: 5px;
}

time {
    font-family: $font-mont;
    color: #363636;
    font-weight: 300;
    font-size: 8px;
    transition: color 0.8s;
}

.us_about {
    color: #545454;
    transition: color 0.8s;
    margin: 0;
}

.underline:after {
    display: block;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #252525;
    content: "";
}

.tweet:hover,
.recent_post:hover {
    .us_about {
        color: $text-brown;
    }
    time {
        color: $white;
    }
}

.about_waxom:hover {
    color: $text-brown;
}

.blue_text {
    color: $blue;
    transition: color 0.8s;
}

.blue_text:hover {
    color: #959595;
}


/* FOOTER */

footer {
    width: 740px;
    padding: 20px 200px;
    @include flex(row,
    space-between);
    background-color: #111111;
    font-size: 9px;
    font-family: $font-mont;
    color: #545454;
    font-weight: 300;
}

.copyright {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    li {
        display: inline-block;
    }
}

.footer_link,
.waxom_link {
    text-decoration: none;
    padding: 10px 5px 10px 0;
        transition: color 0.6s;
}

.waxom_link {
    color: #959595;
}

.footer_link {
    color: #545454;
}

.footer_link:before {
    display: inline-block;
    height: 10px;
    padding-right: 5px;
    margin-left: 0;
    border-left: 1px solid #242424;
    content: "";
}

.footer_link:hover,
.waxom_link:hover {
    color: $text-brown;
}

.designed_by a {
    color: #959595;
    padding: 10px 5px 10px 0;
        transition: color 0.6s;
}

.designed_by a:first-child:after {
    display: inline-block;
    height: 10px;
    padding-left: 5px;
    margin-right: 0;
    border-right: 1px solid #242424;
    content: "";
}

.designed_by a:hover {
    color: $text-brown;
}
