@charset "UTF-8";
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
@font-face {
  font-family: 'Segoe';
  src: url("../font/Segoe WP.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.container {
  width: 1140px;
  margin: 0 auto;
  border: 1px solid #dfdfdf; }

body {
  font-family: 'Segoe';
  font-size: 15px; }

a:link {
  text-decoration: none; }

/* header */
header .account {
  color: white;
  background-color: #424242;
  text-align: right;
  width: 940px;
  margin: 0;
  padding: 0 100px; }
  header .account a {
    display: block;
    color: white;
    padding: 5px 20px;
    height: 20px; }

ul.sign_in {
  display: block;
  list-style-type: none;
  text-transform: capitalize;
  margin: 0 auto; }
  ul.sign_in li {
    display: inline-block; }

header div.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto; }
  header div.search a {
    padding: 0;
    margin: 0; }

.panel {
  background: linear-gradient(white, #ededed); }

.search form,
.search a,
.search .your_cart,
.search svg,
.search .wish_list {
  margin: auto; }

input[type="search"] {
  height: 40px;
  width: 300px;
  border: 5px solid #79b260;
  margin-right: 0; }

button[type="submit"] {
  margin-left: 0;
  width: 110px;
  height: 40px;
  background-color: #79b260;
  border-width: 0;
  color: white;
  font-size: 19px; }

svg {
  width: 2px;
  height: 80px;
  padding: 5px 0; }

.header_nav {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf; }
  .header_nav ul {
    width: 940px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto; }
    .header_nav ul li {
      list-style-type: none;
      display: inline-block;
      font-size: 17px;
      text-transform: capitalize; }
  .header_nav a {
    display: block;
    padding: 10px;
    color: #7c7c7c; }
  .header_nav a:hover {
    background: linear-gradient(to top, #73a35e 2%, #86c569 70%, #93d874 100%);
    color: white; }

main {
  width: 940px;
  margin: 20px auto; }

main:after {
  content: "";
  display: block;
  clear: both; }

/* ╨У╨╗╨░╨▓╨╜╨░╤П */
.adv {
  width: 640px;
  height: 280px;
  float: left;
  border: 1px solid #dfdfdf;
  margin-bottom: 20px;
  background-image: url(../img/Banner.png);
  background-size: cover; }

.deals_adv {
  width: 280px;
  height: 280px;
  float: right;
  border: 1px solid #dfdfdf;
  margin-bottom: 20px; }

.categories {
  width: 200px;
  float: left;
  border: 1px solid #dfdfdf; }

.catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 720px;
  float: right;
  border: 1px solid #dfdfdf; }

/* footer */
footer {
  background-color: #424242; }

nav.footer_nav {
  background-color: #6d6d6d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  padding: 20px 100px;
  color: white;
  text-transform: capitalize; }
  nav.footer_nav a {
    display: block;
    height: 30px;
    width: auto;
    color: white; }
  nav.footer_nav ul {
    padding-left: 0; }
    nav.footer_nav ul li {
      list-style-type: none;
      line-height: 30px; }

/*# sourceMappingURL=style.css.map */
